.caixa__pai{
    border: solid black 1px;
    margin: 200px 200px 200px 100px; 
    padding: 15px;
}

.caixa__filho{
    display: inline-block;
}

.caixa__foto {
    margin: 5px;
    display: inline-block;
}

.caixa__foto__perfil{
    border: solid 2px black;
    border-radius: 50%;
}

.caixa__foto__edit{
    color: white;
    background: black;
    transition: 1s;
    margin: 0px 0px 5px 0px;
    position: relative;
    left: -60px;
    top: -20px;
}

.caixa__foto__edit:hover{
    color: chartreuse;
    transform: translateX(10px) scale(1.2);
}

.caixa__label__nick{
    float: right;
    margin-right: 430px;
    margin-top: 35px;
}

.caixa__input__nick{
    float: right;
    margin-right: 240px;
    margin-top: -204px;
}

.caixa__label__nome{
    float: right;
    margin-right: 430px;
    margin-top: -150px;
}

.caixa__input__nome{
    float: right;
    margin-right: 240px;
    margin-top: -152px;
}

