.mani{
    grid-area: container;
    display: flex;
    justify-content: center;
}

.carrosel{
    display: flex;
    justify-content: center;
    margin: 30px;
    align-items: center;
    background-color: #000000;
}

.apresentacao{
    display: flex;
    justify-content: space-between;
    padding: 30px 160px;
    flex-wrap: wrap;
    flex-direction: row;
}

.apresentacao__caixa{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin-left: 70px;
    margin-bottom: 25px;
}

.apresentacao__caixa__img{
    display: flex;
    flex-wrap: wrap;
    margin-right: 70px;
}

.caixa__img__style{
    width: 400px;
}

.apresentacao__caixa__h1{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 60px;
    color: #ffffff;
}

.apresentacao__caixa__p{
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 10px;
}