.main{
    flex: 1;
    grid-area: container;
    justify-self: center;
}
 
 .caixa__pai{
    border: solid rgb(255, 255, 255) 3px;
     margin: 80px 0px;
     padding: 15px;
     display: inline-block;
 }
 
 .caixa__form{
     display: inline-block;
 }
 
 .caixa__foto {
     margin: 100px 0px 100px 160px;
     display: inline-block;
 }
 
 .caixa__foto__perfil{
     border: solid 2px black;
     border-radius: 50%;
     margin: 0px 0px 0px 0px;
     
 }
 
 .caixa__foto__edit{
     color: white;
     background: rgb(0, 0, 0);
     transition: 1s;
     margin: 0px 0px 5px 0px;
     position: relative;
     left: -60px;
     top: -20px;
 }
 
 .caixa__foto__edit:hover{
     color: chartreuse;
     transform: translateX(10px) scale(1.2);
 }
 
 .caixa__campo{
     float: right;
     display: inline;
 }
 
 .caixa__label{
     display: block;
     margin-left: 20px;
     margin-bottom: 10px;
     font-size: 20px;
     color: #ffffff;
 }
 
 .caixa__input{
     display: block;
     margin-left: 20px;
     margin-bottom: 40px;
     padding: 10px 15px;
     width: 400px;
 }
 
 .caixa__bio{
     display: inline;
     margin: 10px;
     color: #ffffff;
 }
 
 .caixa__bio__label{
     display: block;
     margin-left: 5px;
     margin-bottom: 30px;
     font-size: 20px;
     color: #ffffff;
 }
 
 .caixa__bio__input{
     display: block;
     margin: 0px 0px 20px 20px;
     width: 1000px;
     height: 200px;   
 }
 
 .caixa__input__enviar{
     float: right;
     border-radius: 10px 20px;
     padding: 10px;
     color: rgb(255, 255, 255);
     font-size: 20px;
     background: #B22222;
     transition: 0.5s;
 }
 
 .caixa__input__enviar:hover{
     background: #32CD32;
 }

 .bot{
    margin-top: 11px;
    margin-bottom: 0px;
    margin-left: 750px;
    border-radius: 10px 20px;
    position: absolute;
 }
 
 .bot__link{
    padding: 10px;
    text-decoration: none;
    color: #fa4747;
    background: black;
    font-size: 20px;
    border: solid 1px black;
    border-radius: 10px 20px;
 }
 
 .bot__link:hover{
     color: black;
     background: #fa4747;
 }