body{
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

div{
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

h1 {
    font-size: 30px;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}