body{
    background: #1b153ff6;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.titulo{
    display: flex;
    position: fixed;
    left: 560px;
    top: 390px;
}

.titulo__h2{
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo__link{
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px;
}

.titulo__link:hover{
    color: #00FF7F;
    box-shadow:  3px 3px #000000;
    border: solid 2px;
    border-radius: 5px;
}

.selecao{
    margin: 20px auto;
    color: #FFFFFF;
    display: flex;
    font-size: 25px;
}

.feito{
    display: flex;
}

.feito2{
    display: flex;
}

.exbir__personagens{
    padding: 40px;
    border: solid 3px red;
    margin: 0px 10px 15px 10px;
    background: #FFFFE0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.selecao__aviso{
    margin: 5px 25px;
    font-size: 25px;
    color: #FFFFFF;
}

.rykelmy__personagem{
    margin: 15px 25px;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    border: solid black 2px;
    width: 190px;
    background: #000000;
    border-radius: 5px;
    padding: 5px;
}

.rykelmy__personagem:hover{
    color: #00FF7F;
    box-shadow:  5px 5px #000000;
    border: solid 2px;
    border-radius: 5px;
    width: 195px;
}

.rykelmy__personagem__link{
    color: #FFFFFF;
    text-decoration: none;
}

.selecao__criar{
    display: flex;
    justify-content: center;
    margin: 25px 0px;
    color: #FFFFFF;
    font-size: 25px;
}

.form__criar{
    display: flex;
    margin: 25px 15px;
    flex-direction: column;
}



.form__criar__nome{
    margin: 10px 0px;
    font-size: 20px;
    color: #ffffff;
}

.form__criar__nomeInput{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.form__criar__classe{
    margin: 10px 0px;
    font-size: 20px;
    color: #ffffff;
}

.form__criar__classeSelec{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.form__criar__box{
    margin: 15px;
}

.form__criar__chekbox{
    margin: 0px 25px;
    width: 15px;
}

.form__criar__enviar{
    width: 130px;
    margin: 10px 5px;
    padding: 5px;
    border-radius: 5px;
    background: #00FF7F;
}

.form__criar__enviar:hover{
    padding: 8px 0px; 
}

.form__criar__voltar{
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 120px;
    margin: 10px 5px;
    padding: 5px;
    border-radius: 5px;
    background: #B22222;
    color: #000000;
}

.form__criar__voltar:hover{
    padding: 8px 0px;
}

.voltar__a{
    margin: 10px auto;
    border: solid 2px #000000;
    display: flex;
    justify-content: center;
    width: 200px;
    background: #FFFFFF;
    text-decoration: none;
    color: #000000;
}

.voltar__a:hover{
    padding: 8px;
    background: #B22222;
    color: #ffffff;
}

.informacao__personagem{
    margin: 20px auto;
    border: 8px #ffffff ridge;
    padding: 10px;
    background: #F5DEB3;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.informacao__img{
    width: 300px;
    margin: 5px auto;
}

.informacao__img__dinheiro{
    width: 100px;
}

.informacao__img__magia{
    width: 130px;
    margin: 10px auto;
}

.informacao__nome{
    font-size: 20px;
    margin: 10px 0px;
}

h2{
    font-size: 20px;
    margin: 10px 5px;
}

li{
    margin: 3px 8px;
}

input{
    border: #000000 solid 2px;
    border-radius: 5px;
    background: #FFFFFF;
    margin: 8px 0px;
}

.input__escolher{
    margin: 0px 0px 0px 5px;
    background: #FFFFFF;
}

.input__escolher__criar{
    background: #FFFFFF;
    margin: 10px;
}

.input__escolher__criar:hover{
    background: #00FF7F;
    padding: 5px;

}

.mostrar__pers{
    border: solid black 2px;
    width: 220px;
    margin: 20px;
    padding: 40px;
    background: #FFFFFF;
    border-radius: 8px;
}

.mostrar__pers__img{
    width: 220px;
}

.mostrar__pers__td{
    border: solid black 2px;
    width: 220px;
    margin: 40px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 8px;
}

.mostrar__pers__info{
    text-decoration: none;
    margin: 0px 5px;
}

.mostrar__pers__info:hover{
    color: 	#D2691E;
}

.mostrar__pers__escolher{
    text-decoration: none;
    margin: 0px 5px;
}

.mostrar__pers__escolher:hover{
    color: #00FF7F;
}

.tirar__perso{
    text-decoration: none;
    margin: 0px 5px;
    color: #FF0000;
}

.sala{
    margin: 10px 25px;
    padding: 15px;
}

.sala__preparacao{
    text-decoration: none;
    font-size: 25px;
    border: solid #000000 2px;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 8px;
}

.sala__preparacao:hover{
    font-size: 30px;
    background: #00FF7F;
}

.selecao__prepa{
    font-size: 30px;
    margin: 20px auto;
    color: #FFFFFF;
    display: flex;
}

.menuzin{
    display: flex;
    flex-wrap: wrap;
}

.rykelmy__entrar{
    margin: 10px 25px;
    text-decoration: none;
    font-size: 23px;
    color: #FFFFFF;
    padding: 10px;
    background: #00FF7F;
    border-radius: 10px;
}

.rykelmy__entrar:hover{
    color: #000000;
}

.rykelmy__loja{
    margin: 10px 25px;
    text-decoration: none;
    font-size: 23px;
    color: #FFFFFF;
    padding: 10px;
    background: #B0C4DE;
    border-radius: 10px;
}

.rykelmy__loja:hover{
    color: #000000;
}

.rykelmy__trocar{
    margin: 20px 25px;
}

.selecao__ver{
    margin: 20px auto;
    font-size: 20px;
    color: #ffffff;
}

.voltar__h2{   
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 120px;
    margin: 10px 25px;
    padding: 5px;
    border-radius: 5px;
    background: #B22222;
    color: #000000;      
}

.voltar__h2__a{
    text-decoration: none;
    color: #FFFFFF;
}


.form__criar__voltar:hover{
    padding: 8px 0px;
}

.img__ver{
    margin: 5px auto;
}

.info__ver{
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}

.h2__ver{
    font-size: 25px;
    color: #ffffff;
}

.h2__ver__inventario{
    margin: 15px 15px;
    color: #ffffff;
}

.inventario{
    border: solid 3px black;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    background: #A0522D;
    padding: 15px;
}

.escolhas{
    display: flex;
    margin: 5px 15px;
}

.escolhas__h1{
    margin: 15px 30px 15px 30px;
    border: solid 2px black;
    padding: 10px;
    background: #DEB887;
    border-radius: 10px;
}

.escolhas__a{
    text-decoration: none;
    color: #000000;
}

.escolhas__h1__excluir{
    margin: 15px 30px 15px 30px;
    border: solid 2px black;
    padding: 10px;
    background: #B22222;
    border-radius: 10px;
}

.escolhas__a__excluir{
    text-decoration: none;
    color: #000000;
}

.mamao{
    display: flex;
    flex-wrap: wrap;
}

.caixa__exibir{
    border: solid 3px black;
    width: 310px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 20px;
    background: #DEB887;
}

.select{
    text-decoration: none;
    border: solid 1px black;
    padding: 3px;
    border-radius: 5px;
    background: #FFFFFF;
    color: #000000;
}

.inventario__interno{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 900px;
}

.mostrar__itens__inventario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
}

.tabela{
    border: solid 2px black;
    margin-top: 150px auto;
    background: #FFFFFF;
}

.linha{
    background: #000000;
    color: #FFFFFF;
}


.vento{
    background: #000000;
    color: #ffffff;
    text-align: center;
}


.coluna{
    border: #000000 solid 1px;
    text-align: center;
    align-content: center;
}

.coluna__não{
    border: #000000 solid 1px;
    text-align: center;
    color: #FF0000;
}

.coluna__comprar{
    border: #000000 solid 1px;
    text-align: center;
}

.coluna__comprar__a{
    color: #003018ea;
    text-decoration: none;
}

.coluna__comprar__vender{
    color: #D2691E;
}

.muchila{
    margin: 25px;
}

.trocas{
    display: flex;
    flex-wrap: wrap;
}

.mostrar__pers__trocas{
    border: solid black 2px;
    width: 220px;
    margin: 20px 0px 20px 20px;
    padding: 40px;
    background: #FFFFFF;
    border-radius: 8px;
}

.dar__dinheiro{
    margin: 21px 0px;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 150px;
    height: 125px;
    padding: 5px;
    background: #ffffff;
    border-radius: 5px;
}

.dar__itens{
    display: flex;
    flex-direction: column;
    margin: 160px 0px 0px -162px;
    padding: 5px;
    border: 2px solid black;
    max-width: 100%;
    max-height: 100%;
    width: 148px;
    height: 425px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
    overflow-y: auto;
    direction: rtl;
    text-align: left;
}

.dar__itens__troca{
    display: flex;
    flex-direction: column;
    margin: 21px 191px 0px 0px;
    padding: 5px;
    border: 2px solid black;
    max-width: 100%;
    max-height: 100%;
    width: 148px;
    height: 564px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
    overflow-y: auto;
    direction: rtl;
    text-align: left;
}

.dar__itens__nao{
    display: flex;
    flex-direction: column;
    margin: 21px 0px 0px 0px;
    padding: 5px;
    border: 2px solid black;
    max-width: 100%;
    max-height: 100%;
    width: 148px;
    height: 564px;
    background: #ffffff;
    border-radius: 5px;
}

.dar__itens__nao2{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.dar__itens__h2{
    color: #FF0000;
}


.rykeymy__mandou{
    transform: rotate(180deg);
}

.iten__troca{
    border: solid black 5px;
    width: 150px;
    padding: 15px;
    margin: auto;
    background: #ffffff;
    border-radius: 8px;
}

.selecap__prepa__segundario{
    margin: 20px;
    color: #ffffff;
}

.troca__justa:hover{  
    background: #00FF7F;   
}

.troca__justa__a{
    text-decoration: none;
    color: #000000;
}

.mostrar__pers__dar{
    border: solid black 2px;
    width: 220px;
    padding: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao__troca{
    text-decoration: none;
    color: #F5DEB3;
    border: solid 1px black;
    background: black;
    padding: 5px;
    border-radius: 8px;
}

.botao__troca:hover{
    background: #00FF7F;
    color: #000000;
}

.botao__troca__h3{
    margin: 0px 25px;
}

.botao__troca__div{
    width: 120px;
    text-decoration: none;
    color: #F5DEB3;
    border: solid 1px black;
    background: black;
    padding: 5px;
    border-radius: 8px;
}

.botao__troca__div:hover{
    background: #00FF7F;
    color: #000000;
}

.escolher__dar{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}

.form__dar{
    margin: 5px 95px;
}

.botao__dar{
    background: #000000;
    color: #ffffff;
    padding: 5px;
}

.botao__dar:hover{
    background: #00FF7F;
    color: #000000;
}

.exbir__personagens__equip{
    padding: 30px;
    border: solid 3px red;
    margin: 0px 10px 15px 10px;
    background: #FFFFE0;
}

.exibir__equip{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}

.equi__itens{
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    padding: 10px;
    border: 2px solid black;
    max-width: 100%;
    max-height: 100%;
    width: 148px;
    height: 425px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
    overflow-y: auto;
    direction: rtl;
    text-align: left;
}


.botao__trocar__equip{
    border: solid 1px black;
    padding: 5px;
    margin: 5px auto;
    background: #000000;
    display: flex;
    justify-content: center;    
}

.botao__trocar__equip:hover{
    background: #00FF7F;
}  

.a__trocar__equip{
    text-decoration: none;
    color: #ffffff;
    display: flex;
}

.a__trocar__equip:hover{
    color: #000000;
}


.aviso__lanterna{
    color: #B22222;
    background: #000000;
    border: solid 3px #D2691E;
    margin: 25px auto;
    padding: 3px;
}

.botao__troca__equip{
    margin: 40px auto;
}

.ordem__marcha{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.ordem{ 
    margin: 10px auto;
    color: #D2691E;
    font-size: 25px;
}

.comecaaaa{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.preguica{
    width: 100px;
}

.tabletop{
    background: #1b153ff6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cima{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.monstros{
    border: solid black 1px;
    width: 300px;
    height: 400px;
    margin: 10px 5px ;
    background: #ffffff;
    padding: 10px;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
    overflow-y: auto;
    direction: rtl;
    text-align: left;
}

.monstros2{
    transform: rotate(180deg);
}

.monstros__p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.monstro__img{
    width: 210px;
    display: flex;
    margin: 7px auto;
}

.principal{
    border: solid #D2691E 5px;
    padding: 20px;
    max-width: 100%;
    max-height: 100%;
    width: 1100px;
    height: 450px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

.defesa{
    margin: 10px auto;

}

.defesa1{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    height: 305px;
    width: 450px;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
    overflow-y: auto;
    direction: rtl;
    text-align: left;
}

.defesa2{
    transform: rotate(180deg);
    margin: 0px;
}

.dinheiro-upar__1{
    display: flex;
    flex-direction: column;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
    overflow-y: auto;
    direction: rtl;
    text-align: left;
}

.dinheiro-upar__2{
    display: flex;
    flex-direction: column;
    transform: rotate(180deg);
    margin: 0px;
}

.recompensa{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.finalizar__h2{
    border: #000000 solid 2px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #7FFF00 50%, #ffffff 50%);
    transition: 5ms;
    display: flex;
    justify-content: center;
}

.finalizar__h2:hover{
    background: #7FFF00;
}

.ataca{
    border: #000000 solid 2px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #708090 50%, #ffffff 50%);
    transition: 5ms;
    display: flex;
    justify-content: center;
}

.ataca:hover{
    background: #708090;
    transform: scale(1.1)
}

.magia{
    border: #000000 solid 2px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #9400D3 50%, #ffffff 50%);
    transition: 5ms;
    display: flex;
    justify-content: center;
}

.magia:hover{
    background: #9400D3;
    transform: scale(1.1)
}

.fugas{
    border: #000000 solid 2px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #48D1CC 50%, #ffffff 50%);
    transition: 5ms;
    display: flex;
    justify-content: center;
}

.fugas:hover{
    background: #48D1CC;
    transform: scale(1.1)
}

.dano{
    border: #000000 solid 2px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom, red 50%, #ffffff 50%);
    transition: 5ms;
    display: flex;
    justify-content: center;
}

.dano:hover{
    background: red;
    transform: scale(1.1)
}

.cura{
    border: #000000 solid 2px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #f808e8 50%, #ffffff 50%);
    transition: 5ms;
    display: flex;
    justify-content: center;
    width: 50px;
}

.cura:hover{
    background: #f808e8;
    transform: scale(1.1);
}

.bencao{
    border: #000000 solid 2px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #f8ec08 50%, #ffffff 50%);
    transition: 5ms;
    display: flex;
    justify-content: center;
    width: 50px;
}

.bencao:hover{
    background: #f8ec08;
    transform: scale(1.1);
}

.link{
    text-decoration: none;
    color: #000000;
}

.magias__use{
    border: solid 20px #000000;
    background-color: #000000;
    padding: 5px;
    margin: 10px auto;
}

.exibir__magias{
    transform-origin: 50% 50%;
    transform: rotate(180deg);
    overflow-y: auto;
    direction: rtl;
    text-align: left;
}

.magias__use__info{
    color: #FFFFFF;
}

.magias__use__fim{
    color: red;
    text-decoration: none;
}

.magias__use__atirar{
    text-decoration: none;
    color: #A0522D;
}

.dago{
    display: flex;
}



.ico{
    width: 100px;
}

.acao__link{
    border: #000000 solid 2px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #7FFF00 50%, #ffffff 50%);
    transition: 5ms;
    display: flex;
    justify-content: center;
}

.acao__link:hover{
    background: #7FFF00;
    transform: scale(1.1);
}

.sorte__mapa__h3{
    border: #000000 solid 2px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #DAA520 50%, #ffffff 50%);
    transition: 5ms;
}

.sorte__mapa__h3:hover{
    background: #DAA520;
    transform: scale(1.1);
}

.sorte__mapa__a{
    text-decoration: none;
    color: #000000;
}

.sorte__mapa__h2{
    border: #000000 solid 2px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #E6E6FA 50%, #ffffff 50%);
    transition: 5ms;
}

.sorte__mapa__h2:hover{
    background: #e6e6e6;
    transform: scale(1.1);
}

.inventario__tabletop{
    border: solid black 1px;
    width: 300px;
    height: 400px;
    margin: 10px 5px;
    padding: 10px;   
    background: #A0522D;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
    overflow-y: auto;
    direction: rtl;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.inventario2{
    transform: rotate(180deg);
}

.inventario2__h1{
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.baixo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mapa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: solid black 1px;
    width: 300px;
    height: 250px;
    margin: 130px 5px;
}

.personagens{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    width: 1100px;
    height: 300px;
    margin: 20px auto;
    padding: 20px; 
    border-radius: 8px;
}

.p1{
    display: flex;
    flex-direction: column;
}

.personagens__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 100px;
}



.personagens__players{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 5px;
    padding: 10px;

}

.mapaPrincipal{
    border: solid black 1px;
    width: 300px;
    height: 250px;
    margin: 130px 5px;
}



