body{
    background: #1b153ff6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.caixaVolta{
    width: 1600px;
    height: 110px;
    margin-bottom: 10px;
    display: flex;
    background: #363636;
    justify-content: center;
    align-items: center;
}

.monstros{
    border: solid black 1px;
    width: 300px;
    height: 400px;
    margin-left: 5px;
}

.principal{
    border: solid black 1px;
    width: 900px;
    height: 400px;

}

.inventario{
    border: solid black 1px;
    width: 300px;
    height: 400px;
    margin-right: 5px;   
}

.mapa{
    border: solid black 1px;
    width: 300px;
    height: 250px;
    margin-left: 5px;
    position: static;
}

.personagens{
    border: solid black 1px;
    width: 900px;
    height: 200px;
    margin-top: 5px;
}

.mapaPrincipal{
    border: solid black 1px;
    width: 300px;
    height: 250px;
    margin-right: 5px; 
}
